@import "./variables.scss";
@import "./components/navbar.scss";
@import "./components/banner.scss";
@import "./components/pageBanner.scss";
@import "./components/card.scss";
@import "./components/shop.scss";
@import "./components/wishList.scss";
@import "./components/login.scss";
@import "toastr";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 0.843vw;
}
@media (max-width: 1024px) {
}
@media (max-width: 920px) {
}
@media (max-width: 768px) {
  html {
    font-size: 2.5vw;
  }
  .container {
    padding-inline: 2rem !important;
  }
}
@media (max-width: 420px) {
}
h1 {
  font-family: $ff-header;
}
body {
  font-family: $ff-main;
}
img {
  object-fit: fill;
}
.container {
  padding-inline: 6.25rem;
}
a {
  color: $white;
  text-decoration: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.error-message span {
  color: red;
  font-size: 0.8rem;
}

.loader {
  animation: 5s loader infinite alternate;
  @keyframes loader {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.pending {
  background: red;
}
