@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Inter:wght@100;200;300;400;500;600;700&display=swap");
$white: #fff;
$dark: #000;
$gold: #fcd635;
$ff-header: "Caveat", cursive;
$ff-main: "Inter", sans-serif;
